
<!-- 
Possible errors based on our validadition at models/articles.rb

["Title can't be blank",                                                      
 "Title is too short (minimum is 6 characters)",                              
 "Description can't be blank"]
 -->

<% if @article.errors.any? %>
    <h2 style="color: red; background-color:black; width:45%">The following errors prevented the article from being created.</h2>
    <ul>
    <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
    </ul>
<% end %>

