<h1 class="new-title text-center text-6xl underline py-5">Editar postagem</h1>

<%= render 'articles/errors' %>

<%= render 'articles/form' %>

<h3 class="text-center py-6 text-xl overline "><%= link_to 'Cancelar e retornar a listagem de postagens', article_path %> </h3>
