<h1 class="text-center text-6xl underline py-5">Posts</h1>

<div class="container">
    
    <button type="button" class="text-white bg-[#050708] hover:bg-[#050708]/90 focus:ring-4 focus:outline-none focus:ring-[#050708]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-[#050708]/50 dark:hover:bg-[#050708]/30 mr-2 mb-2">
    <%= link_to 'Criar novo post', new_article_path, class:"botaopost"%></button>
</div>


<%= render 'article' , obj: @articles%>
<%= paginate @articles %>