<h1 class="new-title text-center text-6xl underline py-5">Crie uma nova postagem</h1>

<%= render 'articles/errors' %>


<%= render 'articles/form' %>

<h3 class="text-center py-6 text-xl overline "><%= link_to 'Retornar para a página de postagens', articles_url %> </h3>
