<% if obj.errors.any? %>
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 z-0 rounded relative">
    <strong class="font-bold">The following errors prevented the <%= obj.class.name.downcase %> from being created.</strong>
    <ul>
    <% obj.errors.full_messages.each do |msg| %>
        <li><span class="block sm:inline" style="padding-left:10px">* <%= msg %></span></li>
    <% end %>
    </ul>
    </div>
<% end %>


<!-- 
Possible errors based on our validadition at models/articles.rb

["Title can't be blank",                                                      
 "Title is too short (minimum is 6 characters)",                              
 "Description can't be blank"]
 -->

