<!-- 
<h1 style="text-align:center">Hello World!</h1>
<p style="text-align:center">This is home.</p>

<h2 style="text-align:center"><%= link_to 'Articles listing', articles_url %> </h2>
<h3 style="text-align:center"><%= link_to 'About page', about_path %> </h3>




https://app.uizard.io/prototypes/Yy74pElZ1PHaJ91X0YMM  O BRABO 
-->
<header class="bg-white shadow">
  <div class="mx-auto max-w-7xl py-6 px-4 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-bold tracking-tight text-gray-900 underline">É bolsonaro ou não é?</h1>
  </div>
</header>
<main>
  <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
    <!-- Replace with your content -->
    <div class="px-4 py-6 sm:px-0">
      <div class="h-96 rounded-lg" id="leninimage">
        <h1 class="text-6xl text-white text-center underline">Bem vindo ao lenin, <span class="bg text-7xl">Caralho.</span></h1>
      </div>
    </div>
    <!-- /End replace -->
  </div>
</main>
<div class="bgpage py-12">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="lg:text-center">
      <h2 class="text-lg font-semibold text-indigo-600">Blog do lenin</h2>
      <a href="#" class="criarconta mt-2 text-3xl font-bold leading-8 tracking-tight text-gray-900 sm:text-4xl">Crie sua conta!</a>
      <p class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">Site como projeto e para treinar. Não sei mais oque escrever aqui.</a>
    </div>
  </div>
</div>
