@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/




#leninimage{
  background-image: url(lenin.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.bg{
  border-top: solid 3px black;
}


.createac{
  border: solid 2px black;
  transition: 300ms ease-in-out;
  padding: 1rem;
}

.createac:hover{
  border: black;
  color: red;
  padding: 2rem;
}

.logo{
  font-size: 2rem;
  font-weight: bold;
  text-decoration: overline;
}

.cor-meio{
  background-color: #f7fdff;
}

.cor-h{
  background-color: #23211f;
}

.bgpage{
  background-color: #23211f;
  color: #f0faff;
}

.criarconta{
  
  color: #f0faff;
  transition: 300ms ease-in-out; padding: 1rem;
  font-size: 3rem;
}

#git{
  text-decoration: underline;
  color: #3f3731;
  background-color: #e3f7ff;
  padding: 6px;
}


div.centered 
{
    text-align: center;
}

div.centered table 
{
    margin: 0 auto; 
    text-align: left;
}

.botaopost{
  
}

.container{
  padding: 2rem;
  display: flex;
  justify-content: flex-end;
}

.text-white{
  transition: 200ms ease-in-out;
}

.text-white{
  font-weight: bolder;
}

.new-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.legenda{

}

.new-title{

}

.retornar{
  
}