@tailwind base;
@tailwind components;
@tailwind utilities;
/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

#leninimage{
  background-image: url(lenin.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.bg{
  border-top: solid 3px black;
}


.createac{
  border: solid 2px black;
  transition: 300ms ease-in-out;
  padding: 1rem;
}

.createac:hover{
  border: black;
  color: red;
  padding: 2rem;
}

.logo{
  font-size: 2rem;
  font-weight: bold;
  text-decoration: overline;
}

.cor-meio{
  background-color: #f7fdff;
}

.cor-h{
  background-color: #23211f;
}

.bgpage{
  background-color: #23211f;
  color: #f0faff;
}

.criarconta{
  
  color: #f0faff;
  transition: 300ms ease-in-out; padding: 1rem;
  font-size: 3rem;
}

#git{
  text-decoration: underline;
  color: #3f3731;
  background-color: #e3f7ff;
  padding: 6px;
}


div.centered 
{
    text-align: center;
}

div.centered table 
{
    margin: 0 auto; 
    text-align: left;
}

.container{
  padding: 2rem;
  display: flex;
  justify-content: flex-end;
}

.text-white{
  transition: 200ms ease-in-out;
}

.text-white{
  font-weight: bolder;
}

.new-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.legenda{

}

#new > *{
  width: 50rem;
}

fieldset{
  border:2px solid #000000;
  padding: 3rem;
  
}

.new-title{

}

.retornar{
  
}

.centeringform{
  display: flex;
  justify-content: center;
}

.labelnew{
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
}


input[type=submit]{
  margin-top: 2rem;
  float: right;
  font-size: 2rem;
  transition: 250ms ease-in-out;
  border: 1px solid black;
}

input[type=submit]:hover{
  font-size: 2.5rem;
  text-decoration: underline;
  animation: myAnim 2s ease 0s 1 normal forwards;
  
  padding: 1re,;
  background-color: rgb(0, 0, 0);
  color: white;
}

@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}