<footer>
<div class="cor-meio text-white">
          <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <div class="flex h-16 items-center justify-center">
              <div class="flex items-center">
                <div class="hidden md:block">
                  <div class="ml-10 flex items-baseline space-x-4 ">
                  </div>
                </div>
              </div>
        </div>
</footer>